/* some theme vars to get you started */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-fg: #222;
  --theme-bg: #fff;
  --theme-fg-dsbl: #888;
  --theme-bg-2nd: #eee;
  --theme-brd: #ccc;
  --theme-btn-fg: #fff;
  --theme-btn-bg: #08e;
  --theme-btn-fg-dsbl: var(--theme-btn-fg);
  --theme-btn-bg-dsbl: var(--theme-brd);
  --theme-btn-brd: #08e;
  --theme-scrollbar: var(--theme-brd);
}


app-root {
  width: 100%;
  height: 100%;
  background-color: var(--theme-bg);
}

.sw-btn {

  @apply inline-block px-2 py-1 shadow-lg;

  &--primary {
    background-color: var(--theme-btn-bg);
    color: white;
  }

  &--size-lg {
    @apply px-4 py-2;
  }
}
