@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-fg: #222;
  --theme-bg: #fff;
  --theme-fg-dsbl: #888;
  --theme-bg-2nd: #eee;
  --theme-brd: #ccc;
  --theme-btn-fg: #fff;
  --theme-btn-bg: #08e;
  --theme-btn-fg-dsbl: var(--theme-btn-fg);
  --theme-btn-bg-dsbl: var(--theme-brd);
  --theme-btn-brd: #0066b1;
  --theme-scrollbar: var(--theme-brd);
}

.sw-page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--theme-bg);
}

.sw-sidebar {
  height: 100%;
  background-color: var(--theme-bg-2nd);
}

.sw-btn {
  @apply inline-block px-2 py-1 shadow-sm rounded-sm;
  border: 1px solid var(--theme-brd);
  background-color: var(--theme-bg-2nd);

  &:hover {
    background-color: var(--theme-brd);
  }

  &--primary {
    background-color: var(--theme-btn-bg);
    border: 1px solid var(--theme-btn-brd);
    color: white;

    &:hover {
      background-color: var(--theme-btn-brd);
    }
  }

  &--flat {
    border: unset;
  }

  &--size-lg {
    @apply px-4 py-2;
  }
}

button {
  &[aria-busy], &[disabled] {
    opacity: 0.6;
    border: 1px solid var(--theme-brd);
    pointer-events: none;

    &:focus {
      background-color: var(--theme-btn-bg-dsbl);
    }
  }
}

.sw-balance-item__currency {
  background-color: var(--theme-fg-dsbl);
  color: white;
}
